.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #054b74e7;
  align-items: center;
  padding: 8px 0;
  background-color: #f3ecec66;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s transform;
}

.input:checked + .label {
  color: #b43a3a;
  background-color: #e7e3e3;
  transform: scale(1.15);
  transition: 0.3s transform;
}

.label:hover {
  background-color: #e7e3e3dd;
  transition: 0.3s background-color;
}

.temperature {
  font-weight: bold;
}

.input {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0;
}
