.root {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 120px;
  background-color: #f3ecec66;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s background-color, transform;
  transform: scale(1.01);
}

.root:hover {
  background-color: #f3ececbb;
  transform: scale(1.1);
}

.weekday,
.temperature {
  font-size: 16px;
  font-weight: bold;
}
