.root {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 4px;
  width: 500px;
  height: 70px;
  background-color: #f3ecec66;
  border-radius: 8px;
  padding: 0 20px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #3b3b3b;
}

.headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  font-weight: bold;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;

}
