.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  width: 550px;
  height: 320px;
  background-color: #bbf5eb66;
  border-radius: 0 16px 16px 0;
  box-shadow: 8px 0px 20px 5px #75757566;
  padding: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 450px;
  gap: 2px;
}
