.label {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  border-radius: 8px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #3d3d3d;
  cursor: pointer;
  transition: 0.3s background-color;
}

.input:checked + .label {
  background-color: #41565f66;
  color: #c445ae;
  font-weight: 700;
}

.input:checked + .label > .span {
  background-color: #e7e3e3;
  transition: 0.3s background-color;
}

.label:hover {
  background-color: #41565f66;
  color: #fff;
  font-weight: 400;
  transition: 0.3s background-color;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #f3ecec66;
}

.input {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0;
}

@media ((max-width: 1024px ) and (orientation: landscape)) or ((max-width: 992px) and (min-width: 769px) and (orientation: portrait)) {
  .label {
    width: 46px;
    height: 46px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .label {
    width: 46px;
    height: 46px;
  }
}
